body {
    background-color: #14181e;
    font-family: sans-serif;
}
body p {
    color: white;
}
body a {
    text-decoration: none;
    color: white;
}

.header {
    background-color: #0e1014;
    border-radius: 10px;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
    margin-top: -20px;
    margin-bottom: 20px;
    size: auto;
    color: white;
    height: 60px;

}

.header p {
    display: flex;
    justify-content: center;
    font-size: 45px;
}

.header a {
    color: white;
    text-decoration: none;
    transition-property: text-decoration;
    text-decoration: auto;
    transition: text-decoration 0.5s ease;
}

.header a:hover {
    text-decoration: underline;
}

.menu {
    border: 3px solid #000;
    border-radius: 5px;
    background-color: #14181e;
    margin: auto;
    margin-bottom: 3vh;
    padding: 10px;
    transition: background-color 1s ease;
    overflow: hidden;
    height: 60px;
    width: 400px;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
}

.menup {
    text-decoration: none;
}

.menu img {
    max-width: 100px;
}

.copyright {
    color: white;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-size: 15px;
}